@CHARSET "UTF-8";

#top-pane {
	-fx-background-color: #FAC41F;
	-fx-alignment: center;
	-fx-padding: 5 15 5 15;
}

#top-pane #descriptionL {
	-fx-font-size: 11;
	-fx-font-weight: bold;
	-fx-text-alignment: right;
	-fx-alignment: center-right;
}

#top-pane #iconL {
	-fx-font-size: 10;
	-fx-text-fill: gray;
}

#main-pane {
	-fx-font-size: 11;
	-fx-hgap: 15;
	-fx-vgap: 3;
	-fx-padding: 10;
	-fx-background-color: #D4D0C8;
}

#profile-properties-pane {
	-fx-hgap: 5;
	-fx-vgap: 5;
}

.title-for-group {
	-fx-spacing: 2;
	-fx-alignment: center;
}

.title-for-group-name {
	-fx-font-weight: bold;
}

.title-for-group-line {
	-fx-background-color:blue;
}